.body__con {
    display: grid;
    grid-template-rows: auto 1fr auto;
  
    .conteiner__con {
      background-image: url(../imagenes/fondo.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
  
      .conteiner__con--div__title {
        @include div-title;
  
        .div__title--title__con {
          @include title;
        }
      }
  
      .conteiner__con--section__con {
        padding: 6% 2%;
        display: grid;
        grid-template-rows: auto auto;
        justify-content: center;
        align-items: center;
  
        .section__con--left__con {
          display: flex;
          flex-wrap: wrap;
  
          .left__con--form__con {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding-top: 7%;
            padding-bottom: 5%;
  
            input {
              display: flex;
              margin: 1%;
            }
  
            textarea {
              margin: 1%;
              resize: none;
            }
  
            .form__con--input__submit {
              border: 2px solid map-get($color, primary-color);
              border-radius: 15px;
              padding: 1% 3%;
              transition: $transition-1;
  
              &:hover {
                transition: $transition-1;
                background-color: map-get($color, primary-color);
                color: map-get($color, secondary-color);
              }
            }
          }
        }
  
        .section__con--right__con {
          padding: 5% 0;
  
          .right__con--title__right {
            padding-bottom: 2%;
            font-size: 130%;
            display: flex;
            justify-content: start;
            align-items: center;
          }
  
          .right__con--text__right {
            display: flex;
            justify-content: start;
          }
        }
      }
    }
  }
  
  @media (min-width: 768px) {
    .body__con {
      .conteiner__con {
        .conteiner__con--div__title {
          padding: 4% 0;
  
          .div__title--title__con {
            font-size: 240%;
          }
        }
  
        .conteiner__con--section__con {
          .section__con--left__con p {
            font-size: 110%;
          }
  
          .section__con--right__con {
            padding: 3% 0;
  
            .right__con--title__right {
              font-size: 150%;
            }
  
            .right__con--text__right {
              font-size: 110%;
            }
          }
        }
      }
    }
  }
  
  @media (min-width: 992px) {
    .body__con {
      .conteiner__con {
        .conteiner__con--div__title {
          padding: 2% 0;
  
          .div__title--title__con {
            font-size: 200%;
          }
        }
  
        .conteiner__con--section__con {
          padding: 3% 2%;
          display: grid;
          grid-template-columns: auto auto;
  
          .section__con--left__con {
            .left__con--title__left {
              font-size: 140%;
              padding: 1% 6%;
              width: 100%;
            }
  
            p {
              font-size: 110%;
              padding: 0 6%;
            }
  
            .left__con--form__con {
              align-items: start;
              padding: 6% 15%;
            }
          }
  
          .section__con--right__con {
            padding: 0 10%;
  
            .right__con--title__right {
              font-size: 140%;
              padding: 0 0 4% 0;
            }
  
            .right__con--text__right {
              font-size: 110%;
              padding: 2% 0;
            }
          }
        }
      }
    }
  }
  
  @media (min-width: 1400px) {
    .body__con {
      .conteiner__con {
        .conteiner__con--div__title {
          .div__title--title__con {
            font-size: 230%;
          }
        }
  
        .conteiner__con--section__con {
          padding: 3% 2%;
          display: grid;
          grid-template-columns: 60% auto;
  
          .section__con--left__con {
            .left__con--title__left {
              font-size: 160%;
            }
  
            p {
              font-size: 130%;
            }
  
            .left__con--form__con {
              padding: 6% 20%;
  
              .form__con--input__form {
                width: 60%;
                height: 10%;
              }
  
              .form__con--input__submit {
                width: 15%;
                height: auto;
              }
  
              .form__con--estilotextarea {
                width: 70%;
                height: auto;
              }
            }
          }
  
          .section__con--right__con {
            padding: 0 15%;
  
            .right__con--title__right {
              font-size: 160%;
            }
  
            .right__con--text__right {
              font-size: 130%;
            }
          }
        }
      }
    }
  }