footer {
    background-color: map-get($color, primary-color);
    width: 100%;
  
    .conteiner__footer--icons {
      text-align: center;
      font-size: 130%;
      padding: 3% 0 1% 0;
      width: 100%;
  
      .icons--icon {
        color: map-get($color, secondary-color);
        padding: 1% 2%;
        font-size: 130%;
        transition: $transition-1;
  
        &:hover {
          transition: $transition-1;
          color: rgba(0, 0, 0, 0.6);
          font-size: 145%;
        }
      }
    }
  
    .conteiner__footer--left {
      color: map-get($color, secondary-color);
      text-align: center;
      width: auto;
      padding: 3% 1% 1% 1%;
      font-size: 100%;
    }
  
    .conteiner__footer--right {
      color: map-get($color, secondary-color);
      text-align: center;
      width: auto;
      padding: 1%;
    }
  
    .conteiner__footer--down {
      color: map-get($color, secondary-color);
      font-size: 90%;
      text-align: center;
      width: auto;
      padding: 2% 1%;
      font-size: 100%;
    }
  }
  
  @media (min-width: 768px) {
    .conteiner__footer {
      display: grid;
      grid-template-areas:
        "icons icons"
        "left right"
        "down down";
  
      .conteiner__footer--icons {
        padding: 2% 0;
        font-size: 160%;
        justify-content: center;
        align-items: center;
        grid-area: icons;
      }
  
      .conteiner__footer--left {
        grid-area: left;
        font-size: 110%;
        padding: 1%;
      }
  
      .conteiner__footer--right {
        grid-area: right;
        font-size: 110%;
      }
  
      .conteiner__footer--down {
        grid-area: down;
        font-size: 110%;
      }
    }
  }
  
  @media (min-width: 1400px) {
    .conteiner__footer {
      .conteiner__footer--icons {
        font-size: 190%;
      }
  
      .conteiner__footer--left {
        font-size: 140%;
      }
  
      .conteiner__footer--right {
        font-size: 140%;
      }
  
      .conteiner__footer--down {
        font-size: 120%;
      }
    }
  }